.bg-image {
  background-position: center;
}

#main-div {
  height: 100%;
  background-image: url(../../assets/images/main.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
