<div class="p-2 d-flex justify-content-center align-content-center" style="height: 90%">
  <div class="d-flex flex-column justify-content-center align-content-center">
    <div class="d-flex flex-column">
      <div class="mb-1">
        <label for="login-input" class="form-label">Логин</label>
        <input type="text" [(ngModel)]="login" class="form-control" id="login-input" placeholder="Логин" required>
        <span class="invalid-feedback position-relative">
        Введите имя
      </span>
      </div>
      <div class="mb-1">
        <label for="password-input" class="form-label">Новый пароль</label>
        <input type="password" [(ngModel)]="newPassword" class="form-control" id="password-input" required>
        <span class="invalid-feedback position-relative">
        Введите пароль
      </span>
      </div>
      <div class="mb-1">
        <label for="repeat-password-input" class="form-label">Старый пароль</label>
        <input type="password" [(ngModel)]="oldPassword" class="form-control" id="repeat-password-input" required>
        <span class="invalid-feedback position-relative">
        Введите старый пароль
      </span>
      </div>
      <button class="btn btn-primary" style="text-align: center" (click)="update()">Обновить</button>
    </div>
  </div>
</div>
