<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="STDOUT">
            <PatternLayout pattern="%M %d{yyyy-MM-dd HH:mm:ss}  [%t] %-5level %logger{5}- %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace" additivity="true">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>