<div class="d-flex col-2 justify-content-center w-100 flex-wrap">
  <div class="flex-column p-4 align-items-center col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
    <h3 style="text-align: center">Ваш аккаунт</h3>
    <form style="font-size: 16px;">
        <div class="form-group row">
          <label for="name" style="font-weight: 500" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label">Имя и фамилия</label>
          <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <input type="text" readonly style="text-align: right" class="form-control-plaintext" id="name"
                   value="{{self.name}} {{self.surname}}">
          </div>
        </div>
      <div class="form-group row">
        <label for="email" style="font-weight: 500" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label">Email</label>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
          <input type="text" readonly style="text-align: right" class="form-control-plaintext" id="email"
                 value="{{self.email}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" style="font-weight: 500" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label">Номер телефона</label>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
          <input type="text" readonly style="text-align: right" class="form-control-plaintext" id="phone"
                 value="{{self.phoneNumber}}">
        </div>
      </div>
      <button class="btn btn-primary w-100">Обновить информацию о себе</button>
      <button class="btn btn-primary w-100" style="margin-top: 5px">Изменить логин и пароль</button>
    </form>
  </div>
  <div class="m-4 flex-column align-items-center w-100 border-start p-4">
    <h1 style="text-align: center">Ваши объявления</h1>
    <div *ngIf="adverts.length === 0" class="d-flex flex-column align-items-center">
      <p>У вас ещё нет объявлений</p>
      <button type="submit" class="btn btn-primary mb-3" (click)="onCreateNewClicked()">Разместить объявление</button>
    </div>
    <div *ngIf="adverts.length !== 0" class="d-flex flex-row flex-wrap">
      <div *ngFor="let advert of adverts" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 p-2">
        <app-view-animal-advert [advert]="advert"></app-view-animal-advert>

      </div>
    </div>
  </div>
</div>
