<h1 class="m-4" style="text-align: center">Создание объявления о помощи</h1>
<div class="bg-image"
     style="background-image: url('https://i.pinimg.com/236x/fb/e3/d5/fbe3d5f87418bd9f86ce24ccdbb815bf.jpg');
  height: 15vh">
  <!--style="background-image: url('https://i.pinimg.com/236x/17/76/ae/1776ae62a3425054e7b5e882932919b2.jpg');
         height: 28vh">-->

</div>
<div style="padding: 10px" class="m-4">
  <div class="mb-3">
    <label for="titleInput" class="form-label">Название</label>
    <input type="text" [(ngModel)]="title" class="form-control" id="titleInput" placeholder="Название">
  </div>
  <div class="mb-3">
    <label for="descriptionInput" class="form-label">Описание</label>
    <textarea [(ngModel)]="description" class="form-control" id="descriptionInput" placeholder="Описание"></textarea>
  </div>
  <div class="mb-3"><label for="type-selector">Чем хотите заняться?</label>
    <select class="form-control" id="type-selector" [(ngModel)]="advertType"
            (ngModelChange)="this.advertType = $event">
      <option *ngFor="let t of advertTypes" [ngValue]="t">{{ typeToString(t) }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="place-picker">Где?</label>
    <app-placepicker id="place-picker"></app-placepicker>
  </div>
  <div style="font-size: 20px; text-align: center">
    <button class="btn btn-primary mb-3 w-50" (click)="createAdvert()">Создать объявление</button>
  </div>

</div>
