<div class="d-flex flex-column border rounded p-1" style="width: 200px; height: 300px; justify-content: space-between;">
  <img [src]="photo" *ngIf="photo !== null" style="max-height: 170px; height: 100%; border-radius: 5px">
  <img [src]="defaultPhoto" *ngIf="photo === null" style="max-height: 170px; height: 100%; border-radius: 5px">
  <div class="w-100">
    <h5 style="text-align: center; margin-bottom: 0">{{ advert.title }}</h5>
    <div style="text-align: center; font-size: 12px; margin-bottom: 2px">{{placeToString(advert.place)}}</div>
    <div style="text-align: center; font-size: 12px; margin-bottom: 2px">{{ advert.shelterName === null ? "Пользовательское" : advert.shelterName }}</div>
    <button class="btn btn-primary w-100" (click)="showAdvert()">
      Подробнее
    </button>
  </div>
</div>
