<div class="d-flex flex-column border justify-content-between rounded p-1"
     style="aspect-ratio: 1; justify-content: space-between;">
  <div class="w-100 h-100 d-flex align-content-center justify-content-center">
    <img [src]="photo" *ngIf="photo !== null" style="max-width: 100%; max-height: 100%; border-radius: 5px">
    <img [src]="defaultPhoto" *ngIf="photo === null" style="max-width: 100%; max-height: 100%; border-radius: 5px">
  </div>
  <div class="w-100">
    <h5 style="text-align: center; margin-bottom: 0">{{ advert.title }}</h5>
    <div style="text-align: center; font-size: 12px; margin-bottom: 2px">{{placeToString(advert.place)}}</div>
    <div
      style="text-align: center; font-size: 12px; margin-bottom: 2px">{{ advert.shelterName === null ? "Пользовательское" : advert.shelterName }}</div>
    <button class="btn btn-primary w-100" (click)="showAdvert()">
      Подробнее
    </button>
  </div>
</div>
