<div class="p-2">
  <h1 style="text-align: center">Объявления</h1>
  <div class="d-flex flex-column flex-wrap p-2">
    <div *ngFor="let advert of adverts" class="border p-1 d-flex flex-row flex-wrap justify-content-between
        col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 10px; border-radius: 5px">
      <div class="p-1 col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <h2>{{advert.title}}</h2>
        <p>{{shorten(advert.description)}}</p>
      </div>
      <div class="p-1 col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div>
          <p style="margin: 0; font-weight: 500">{{placeToString(this.loader.getPlace(advert.placeId)) }}</p>
          <p style="font-weight: 400;">{{getAdvertType(advert)}}</p>
        </div>
        <button class="btn-primary btn w-100" (click)="openAdvert(advert.id)">Подробнее</button>
      </div>
    </div>
  </div>
</div>
