<div class="p-4">
  <h2>Модифицировать приют</h2>
  <div class="form-group row">
    <label for="type" class="col-sm-1 col-form-label">Название:</label>
    <div class="col-sm-3">
      <input type="text" class="input-group" id="type" [(ngModel)]="shelterName"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="place-for-shelter" class="col-sm-1 col-form-label">Место:</label>
    <app-placepicker #placeforshelter id="place-for-shelter" class="col-sm-3"></app-placepicker>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-1 col-form-label">Адрес:</label>
    <div class="col-sm-3">
      <input type="text" class="input-group" id="address" [(ngModel)]="shelterAddress"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="website" class="col-sm-1 col-form-label">Сайт:</label>
    <div class="col-sm-3">
      <input type="text" class="input-group" id="website" [(ngModel)]="shelterWebsite"/>
    </div>
  </div>
  <button class="btn btn-primary" (click)="update()">Обновить</button>
</div>
