.remove-image-button {
  position: relative;
  text-align: center;
}

.image-upload-button {
  aspect-ratio: 1;
  text-align: center;
  background: ghostwhite;
  font-size: 25px;
  border-radius: 10px;
}

.image-upload-button:hover {
  background: whitesmoke;
}
